<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
    <html>
    <head>
        <title>Formulario de Aficiones</title>
    </head>
    <body>
        <h1>Selecciona tus Aficiones</h1>
    
        <!-- Formulario -->
        <form th:action="@{/aficiones}" method="post">

            <h2>Aficiones:</h2>
            <span th:text="*{error}"></span>
            <label>
                <input type="checkbox" name="aficiones" value="Deportes" />
                Deportes
            </label>
            <br>
            <label>
                <input type="checkbox" name="aficiones" value="Cine" />
                Cine
            </label>
            <br>
            <label>
                <input type="checkbox" name="aficiones" value="Viajar" />
                Viajar
            </label>
            <br>
            <label>
                <input type="checkbox" name="aficiones" value="Lectura" />
                Lectura
            </label>
            <br>
            <label>
                <input type="checkbox" name="aficiones" value="Música" />
                Música
            </label>
            <br><br>
    
            <button type="submit">Enviar</button>
        </form>
    </body>
    </html>
    
</body>
</html>