<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pregunta 6</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <div class="form-container">
        <h1>Pregunta 6: ¿Quién fue el primer campeón de dos divisiones simultáneamente en UFC?</h1>
        <form action="/pregunta7" method="post">
            <input type="radio" id="q6a" name="q6" value="a" required>
            <label for="q6a">Henry Cejudo</label><br>
            <input type="radio" id="q6b" name="q6" value="b">
            <label for="q6b">Daniel Cormier</label><br>
            <input type="radio" id="q6c" name="q6" value="c">
            <label for="q6c">Conor McGregor</label><br>
            <button type="submit">Suigiente</button>
        </form>
    </div>
</body>
</html>
