*{
    padding: 0.25em;
    margin: 0.25em;
}
body{
    width: 700px;
    margin: auto;
    border: solid 3px;
    border-radius: 10px;
}
form{
    width: 700px;

}
.enviar{
    background-color: rgb(226, 144, 22);
}
button{
    background-color: rgb(102, 100, 95);
    color: white;
    text-align: center;
    margin: 0.7em;
    padding: 0.7em;
    
}
fieldset{
    border-radius: 10px;
    width: 650px;
}
h6, span{
    color: rgb(166, 45, 45);
}

