<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pregunta 5</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <div class="form-container">
        <h1>Pregunta 5: ¿Quién tiene el récord de defensas consecutivas del título en UFC?</h1>
        <form action="/pregunta6" method="post">
            <input type="radio" id="q5a" name="q5" value="a" required>
            <label for="q5a">Jon Jones</label><br>
            <input type="radio" id="q5b" name="q5" value="b">
            <label for="q5b">Anderson Silva</label><br>
            <input type="radio" id="q5c" name="q5" value="c">
            <label for="q5c">Demetrious Johnson</label><br>
            <button type="submit">Siguiente</button>
        </form>
    </div>
</body>
</html>
