.container-detalle-producto {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container-detalle-producto ul {
    list-style: none;
    padding: 0;
}

.container-detalle-producto li {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.container-detalle-producto img {
    width: 100%;
    max-width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
