<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario</title>
</head>
<body>
    <h1>Enviar un mensaje</h1>
    <form action="#" th:action="@{/formulario}" th:object="${datosFormulario}" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" th:field="*{nombre}">
        <br>
        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" th:field="*{mensaje}"></textarea>
        <br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
