<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>etapa 4</title>
</head>
<body>
    <form th:action="@{/etapa4}" method="post">
        <label for="contrasena">contraseña:
            <input type="password" name="contrasena" id="contrasena">
        </label>
        <br>
        <span th:text="${error}"></span>
        <br>
        <button type="submit">Siguiente</button>
    </form>
    
</body>
</html>