<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etapa1</title>
</head>
<body>
    <form th:action="@{/etapa1}" method="post">
        <label for="nombre">Nombre:
            <input type="text" name="nombre" id="nombre" th:value="${nombre}">
        </label>
        <br>
        <span th:text="${error}"></span>
        <br>
        <button type="submit">Siguiente</button>
    </form>
    
</body>
</html>