@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
footer {
    background-color: map-get($colores, dark-blue);
    color: var(--background-light);

    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

    a {
        color: map-get($colores, background-light);
        display: block;
        text-decoration: none;
    }

    .footer-copy {
        padding: 20px;
        background-color: map-get($colores, primary-blue); 
        text-align: center;
    }

    .footer-menu {
        display: flex;
        justify-content: space-around;
        padding: 34px 0;
    }

    .footer-menu h3 {
        padding: 10px 0;
    }

    
    a:hover {
        color: map-get($colores, hover-light);
    }

    @media ($responsive) {
        
        .footer-menu {
          flex-direction: column;
        }
        
        .footer-menu div {
          text-align: center;
        }
    }

}
