@import './mixins';
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: map-get($colores, dark-blue);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;

    .menu,
    .logo,
    .search {
        display: flex;
        align-items: center;
    }

    .menu li {
        list-style: none;
    }

    .menu a {
        text-decoration: none;
        color: map-get($colores, background-light);
        margin: 0 10px;
        font-weight: bold;
        transition: color 0.25s linear;
    }

    .menu a:hover {
        color: map-get($colores, hover-light);
    }

    .logo {
        width: 100%;
        justify-content: center;
    }

    .logo a {
        transition: transform 0.25s linear;
    }

    .logo a:hover {
        transform: rotate(360deg);
    }

    .search {
        justify-content: flex-end;
    }

    .search input {
        padding: 8px;
        margin-right: 5px;
        border-radius: 4px;
        background-color: map-get($colores, background-light);
        color: map-get($colores, dark-blue);
        border: none;
        transition: transform 0.25s linear;
    }

    .search input:hover {
        transform: scale(1.1);
    }

    .search input::placeholder {
        color: map-get($colores, dark-blue);
    }

    .search button {
        @include button;
    }

    .hamburger,
    .search-mobile {
        display: none;
        background-color: map-get($colores, gravel);
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 4px;
        cursor: pointer;
    }


    @media ($responsive) {

        nav,
        .search input {
            display: none;
        }

        .hamburger,
        .search-mobile {
            display: block;
        }

        .logo {
            justify-content: left;
        }
    }
}