$responsive: "max-width: 600px";

$colores:(
    primary-blue: #074167, /* Azul */
    dark-blue: #143548, /* Azul oscuro */
    background-light: #ffebd9, /* Crema */
    hover-light: #ffffff, /* Marrón */
    gravel: #595959, /* Color gris oscuro */
);