*{
    padding: 0.3em;
    margin: 0.3em;
}
body{
    background-color: rgb(230, 222, 222);
}
form, div{
    text-align: center;
    margin: auto;
    border: 1px solid black;
    border-radius: 3%;
    height: 300px;
    width: 300px;
    background-color: white;
}
button{
    background-color: aquamarine;
    border: solid 2px black;
    border-radius: 10%;
    height: 40px;
    width: 90px;
}
span{
    color: red;
}