<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pregunta 8</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <div class="form-container">
        <h1>Pregunta 8: ¿Quién fue apodado 'El Spider'?</h1>
        <form action="/result" method="post">
            <input type="radio" id="q8a" name="q8" value="a" required>
            <label for="q8a">Israel Adesanya</label><br>
            <input type="radio" id="q8b" name="q8" value="b">
            <label for="q8b">Anderson Silva</label><br>
            <input type="radio" id="q8c" name="q8" value="c">
            <label for="q8c">Lyoto Machida</label><br>
            <button type="submit">Ver Resultado</button>
        </form>
    </div>
</body>
</html>
