<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MiniQuizz etapa 2</title>
</head>
<body>
    <form method="post" th:action="@{/etapa2}">
        <p>
            <label for="signo">Signo:</label>
            <!-- Añadido el atributo 'name="signo"' -->
            <select id="signo" name="signo">
                <option value="1">Aries</option>
                <option value="2">Tauro</option>
                <option value="3">Géminis</option>
                <option value="4">Cáncer</option>
                <option value="5">Leo</option>
                <option value="6">Virgo</option>
                <option value="7">Libra</option>
                <option value="8">Escorpio</option>
                <option value="9">Sagitario</option>
                <option value="10">Capricornio</option>
                <option value="11">Acuario</option>
                <option value="12">Piscis</option>
            </select>
        </p>

        <input type="submit" name="enviar" value="Siguiente" />
    </form>
</body>
</html>
