* {
    margin: 0.2em;
    padding: 0.2em;
}

#contenedor{
    border: solid 1px;
    display: grid;
    grid-template-columns: 9%, 9%, 9%, 9%, 9%, 9%, 9%, 9%, 9%, 9%, 9%,;
    grid-template-rows: 6,25%,6,25%,6,25%,6,25%,6,25%,6,25%,6,25%,6,25%,6,25%,6,25%,6,25%,6,25%,6,25%,6,25%,6,25%,6,25%,;
    height: 400px;
    width: 100%;
}

#caja1{
    border: solid 1px;
    grid-row: 1/4;
    grid-column: 1/2;
}
#caja2{
    border: solid 1px;
    grid-row: 1/2;
    grid-column: 4/5;
}