@import 'variables';
@import 'mixins';
#lateral {
    height: 1150px;
    width: 34%;
    background-color: $modo-oscuro-fondo;
    float: left;
    border-radius: 5px;
    text-align: center;
  
    #cajaLogo {
      height: 200px;
      @include centrar;
      #toggle-modo{
        background-color: #76ffff;
        border-radius: 5px;
        height: 50px;
        width: 50px;
        display: flex;

        #icono-modo{
          height: 20px;
          width: 20px;
          margin: auto;
        }
      }
  
      #logo {
        background-image: url(../img/logo.png);
        height: 100px;
        width: 100px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
  
      h4 {
        color: $modo-oscuro-texto-blanco;
      }
    }
  
    #cajaUsuario {
      height: 300px;
      color: $modo-oscuro-texto-blanco;
  
      #imagenUsuario {
        margin: auto;
        border: solid 3px map-get($modo-oscuro, acento);
        border-radius: 50px;
        background-image: url(../img/perfil.png);
        height: 100px;
        width: 100px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
  
      #infoUsuario {
        display: flex;
        flex-direction: row;
        height: 60px;
  
        #publicaciones,
        #seguidores,
        #seguidos {
          color: $modo-oscuro-texto-blanco;
          width: 33%;
        }
      }
    }
  
    #cajaAccesos {
      button {
        @include boton(map-get($modo-claro, acento), $modo-claro-texto-negro);
      }
    }
  }
  