@use 'variables';
@use 'mixins';
@use 'lateral';
@use 'principal';
@use 'footer';

@import 'variables';
body {
  background-color: lighten($modo-oscuro-fondo, 10%);
  color: $modo-oscuro-texto-blanco;
  margin: 0;
  font-family: $fuente-principal;
}

html.modo-claro {
  background-color: $modo-claro-fondo;
  color: $modo-claro-texto-negro;
  margin: 0;
  font-family: $fuente-principal;

  #footer{
    color: $modo-claro-texto-negro;
  }
}
