@charset "UTF-8";
body {
  background-color: rgb(22, 19, 19);
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#lateral {
  height: 1150px;
  width: 34%;
  background-color: rgb(49, 49, 49);
  float: left;
  border-radius: 5px;
  text-align: center;
}
#lateral #cajaLogo {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#lateral #cajaLogo #logo {
  background-image: url(logo.png);
  height: 100px;
  width: 100px;
  background-repeat: no-repeat; /* No repetir la imagen */
  background-size: cover; /* La imagen cubre toda el área de la caja */
  background-position: center; /* Centra la imagen en la caja */
}
#lateral #cajaLogo h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}
#lateral #cajaUsuario {
  height: 300px;
  justify-content: center;
  align-items: center;
  color: white;
}
#lateral #cajaUsuario #imagenUsuario {
  margin: auto;
  border: solid 3px rgb(117, 247, 247);
  border-radius: 50px;
  background-image: url(perfil.png);
  height: 100px;
  width: 100px;
  background-repeat: no-repeat; /* No repetir la imagen */
  background-size: cover; /* La imagen cubre toda el área de la caja */
  background-position: center; /* Centra la imagen en la caja */
}
#lateral #cajaUsuario #infoUsuario {
  display: flex;
  flex-direction: row;
  height: 60px;
}
#lateral #cajaUsuario #infoUsuario #publicaciones, #lateral #cajaUsuario #infoUsuario #seguidores, #lateral #cajaUsuario #infoUsuario #seguidos {
  color: white;
  width: 33%;
}
#lateral #cajaAccesos button {
  height: 40px;
  width: 80%;
  border-radius: 15px;
  background-color: rgb(117, 247, 247);
}

#principal {
  height: 1150px;
  width: 64%;
  background-color: rgb(49, 49, 49);
  float: right;
  border-radius: 5px;
}
#principal header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#principal header input {
  height: 30px;
  width: 60%;
  border-radius: 15px;
  background-color: rgb(22, 19, 19);
  padding: 0.2em;
  color: white;
}
#principal header button {
  height: 40px;
  width: 30%;
  border-radius: 15px;
  background-color: rgb(117, 247, 247);
}
#principal #publicaciones {
  height: 950px;
  display: grid; /*le damos la propiedad grid*/
  grid-template-rows: 33% 33% 33%;
  grid-template-columns: 33% 33% 33%;
}
#principal #publicaciones .publicacion {
  margin: auto;
  width: 90%;
  height: 300px;
  border-radius: 5px;
  text-align: center;
}
#principal #publicaciones .imagenes {
  margin: auto;
  background-repeat: no-repeat; /* No repetir la imagen */
  background-size: cover; /* La imagen cubre toda el área de la caja */
  background-position: center; /* Centra la imagen en la caja */
  border-radius: 5px;
  width: 90%;
  height: 250px;
}
#principal #publicaciones #imagen1 {
  background-image: url(img/1.jpeg);
}
#principal #publicaciones #imagen2 {
  background-image: url(img/2.jpeg);
}
#principal #publicaciones #imagen3 {
  background-image: url(img/3.jpeg);
}
#principal #publicaciones #imagen4 {
  background-image: url(img/4.jpg);
}
#principal #publicaciones #imagen5 {
  background-image: url(img/5.jpg);
}
#principal #publicaciones #imagen6 {
  background-image: url(img/6.jpg);
}
#principal #publicaciones #imagen7 {
  background-image: url(img/7.jpg);
}
#principal #publicaciones #imagen8 {
  background-image: url(img/8.png);
}
#principal #publicaciones #imagen9 {
  background-image: url(img/9.jpeg);
}

#footer {
  width: 99%;
  height: 280px;
  float: right;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  text-align: center;
  color: white;
}
#footer #logoF {
  grid-row: 1/2;
  grid-column: 1/2;
  height: 150px;
  width: 150px;
  margin: auto;
  background-image: url(logo.png);
  background-repeat: no-repeat; /* No repetir la imagen */
  background-size: cover; /* La imagen cubre toda el área de la caja */
  background-position: center; /* Centra la imagen en la caja */
}
#footer #legal {
  grid-row: 1/2;
  grid-column: 2/3;
}
#footer #copyright {
  grid-row: 2/3;
  grid-column: 1/3;
}/*# sourceMappingURL=estilos.css.map */