#principal {
  height: 1150px;
  width: 64%;
  background-color: #000000;
  float: right;
  border-radius: 5px;
}
#principal header {
  height: 150px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#principal header input {
  height: 40px;
  width: 70%;
  border-radius: 15px;
  background-color: #1a1a1a;
  padding: 0.2em;
  color: #ffffff;
  border: none;
}
#principal header button {
  background-color: #76ffff;
  color: #000000;
  border-radius: 15px;
  height: 50px;
  width: 60%;
  border: none;
  cursor: pointer;
}
#principal header button:hover {
  background-color: #43ffff;
}
#principal #publicaciones {
  display: grid;
  grid-template-rows: 33% 33% 33%;
  grid-template-columns: 33% 33% 33%;
  gap: 10px;
}
#principal #publicaciones .publicacion {
  margin: auto;
  width: 90%;
  height: 300px;
  border-radius: 5px;
  text-align: center;
  background-color: #1a1a1a;
}
#principal #publicaciones #imagen1 {
  background-image: url("../img/1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  width: 90%;
  height: 250px;
  margin: auto;
}
#principal #publicaciones #imagen2 {
  background-image: url("../img/2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  width: 90%;
  height: 250px;
  margin: auto;
}
#principal #publicaciones #imagen3 {
  background-image: url("../img/3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  width: 90%;
  height: 250px;
  margin: auto;
}
#principal #publicaciones #imagen4 {
  background-image: url("../img/4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  width: 90%;
  height: 250px;
  margin: auto;
}
#principal #publicaciones #imagen5 {
  background-image: url("../img/5.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  width: 90%;
  height: 250px;
  margin: auto;
}
#principal #publicaciones #imagen6 {
  background-image: url("../img/6.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  width: 90%;
  height: 250px;
  margin: auto;
}
#principal #publicaciones #imagen7 {
  background-image: url("../img/7.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  width: 90%;
  height: 250px;
  margin: auto;
}
#principal #publicaciones #imagen8 {
  background-image: url("../img/8.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  width: 90%;
  height: 250px;
  margin: auto;
}
#principal #publicaciones #imagen9 {
  background-image: url("../img/9.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  width: 90%;
  height: 250px;
  margin: auto;
}/*# sourceMappingURL=principal.css.map */