// Styles common to every page, except login
$colors: (
  "background": rgba(0, 0, 0, 0.65),
  "background2": #2d3748,
  "background3": #302e2d,
  "text": #fff,
  "text-hover": #e6ccd6,
  "heading-1": #f8e71c,
  "heading-2": #a35aff,
  "delimiter-1": #ff007f,
  "button-primary": #ff007f,
  "button-primary-hover": #99004d,
  "button-secondary": #30e3ca,
  "button-secondary-hover": #28b7a3,
  "background-footer": #2d3748,
);

$padding: 25px;

@mixin border-radius {
  border-radius: 15px;
}

@mixin customized-flex(
  $direction: row,
  $justify: center,
  $align: center,
  $gap: auto
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

body {
  background-image: url("../img/fondo2.png");
  margin: 0;
  padding: $padding;
  color: map-get($map: $colors, $key: "text");

  h1 {
    color: map-get($map: $colors, $key: "heading-1");
  }

  h2 {
    color: map-get($map: $colors, $key: "heading-2");
  }

  h3 {
    font-style: italic;
  }

  > div {
    @include border-radius;
  }
}

#container {
  background-color: map-get($map: $colors, $key: "background");
  padding: $padding;

  .divider-1 {
    color: map-get($map: $colors, $key: "delimiter-1");
  }

  > hr {
    margin: 15px 0;
  }
}

#header {
  @include customized-flex($justify: space-between);

  #aulavirtual-icon {
    width: 120px;
  }

  .header-right {
    @include customized-flex($gap: 1rem);
  }

  #user-profile-icon {
    height: 71px;
    width: 71px;
  }

  #close-sesion {
    padding: 0.5rem 1rem;
    background-color: map-get($map: $colors, $key: "button-secondary");
    color: #000;
    font-weight: 600;
    text-decoration: none;
    @include border-radius();

    &:hover {
      background-color: map-get($map: $colors, $key: "button-secondary-hover");
      color: map-get($map: $colors, $key: "text-hover");
      transition-duration: 300ms;
    }
  }

  div {
    @include customized-flex($justify: space-between);
  }
}

#footer {
  @include customized-flex($justify: space-between);
  background-color: map-get($map: $colors, $key: "background-footer");
  color: map-get($map: $colors, $key: "text");
  padding: 1rem;
  @include border-radius();

  p {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  a {
    text-decoration: underline;
  }

  #info-user {
    @include customized-flex(column, $align: flex-start);
  }

  #help {
    &:hover {
      color: map-get($map: $colors, $key: "text-hover");
    }
  }
}

@media only screen and (max-width: 639px) {
  #close-sesion {
    text-align: center;
  }

  #footer {
    @include customized-flex(column, $gap: 15px);
  }
}
