// Definición de variables
$color-primario: white;
$color-secundario: #e74c3c;
$tamano-fuente: 16px;
$espaciado: 20px;
$color-texto-encabezado: rgb(149, 91, 204);
$color-texto-article: rgb(68, 66, 66);

// Estilos generales

body {
    background-color: black;
}

// Encabezado
.encabezado {
    text-align: center;
    height: 300px;
    width: 400px;
    border-radius: 10%;
    margin: auto;
    color: $color-texto-encabezado;
    background-color: $color-primario;
    font-size: 25px;
    padding: $espaciado;

    p {
        color: black;
        font-size: 35px;
    }
}

// Artículo
article {
    background-color: $color-primario;
    margin: auto;
    text-align: center;
    height: 150px;
    width: 200px;
    border-radius: 10%;

    h2 {
        font-size: 20px;
        color: $color-texto-article;
    }
}

// Botón
.boton {
    font-size: $tamano-fuente;
    margin: $espaciado;
    border-radius: 40%;
    background-color: black;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $color-secundario;
    }
}
