<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MiniQuizz etapa 1</title>
</head>
<body>
    <form th:action="@{/inicio}" th:object="${usuario}" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" th:field="*{nombre}" />

        <!-- Mostrar errores específicos del campo 'nombre' -->
        <p th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error en el nombre</p>

        <input type="submit" name="enviar" value="Siguiente" />
    </form>
</body>
</html>
