<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resultado del MiniQuizz</title>
</head>
<body>
    <h1>Resultado del MiniQuizz</h1>

    <!-- Mostrar la categoría -->
    <h2>Tu categoría es:</h2>
    <h3 th:text="${categoria}">[Categoría]</h3>

    <!-- Mostrar las aficiones seleccionadas -->
    <h2>Tus aficiones seleccionadas:</h2>
    <ul>
        <li th:each="aficcion : ${aficciones}" th:text="${aficcion}">[Aficción]</li>
    </ul>

    <a href="/">Volver a empezar</a>
</body>
</html>
