body{
    margin: auto;
    text-align: center;
}
div {
            
    margin: 15px;
}
fieldset{
    border: solid 5px;
    background-color: rgb(135, 141, 221);
    border-radius: 10px;
}
legend{
    color: blue;
    
}
input, textarea{
    background-color: rgb(165, 157, 236);
    border:solid blue;

}
input:focus, textarea:focus{
    background-color: red;
}
label{
    color: blueviolet;
}
section{
    background-color: rgb(157, 195, 228);
    border-radius: 10px;
    margin: 1em;
}
button{
    background-color: aqua;
    border-radius: 10px;
    margin: 0.5em;
    padding: 1em;

}
a{
    text-decoration: none;
}
label{
    display: block;
}
h6, span{
    color: rgb(170, 35, 35);
}