// Listas colores para modo oscuro
$modo-claro: (
  fondo: #ffffff, 
  fondo-secundario: #c2bbbb,
  texto-negro: #000000, 
  texto-blanco: #ffffff, 
  acento: #76ffff 
);

// Lista para modo claro
$modo-oscuro: (
  fondo: #000000, 
  fondo-secundario: #646060,
  texto-negro: #000000, 
  texto-blanco: #ffffff, 
  acento: #76ffff 
);

//declara una variable para cada elemento de la lista
// Modo claro
$modo-claro-fondo: map-get($modo-claro, fondo); // Asigna el color de fondo del modo claro.
$modo-claro-fondo-secundario: map-get($modo-claro, fondo-secundario);
$modo-claro-texto-negro: map-get($modo-claro, texto-negro); 

$modo-claro-texto-blanco: map-get($modo-claro, texto-blanco); 

$modo-claro-acento: map-get($modo-claro, acento); // Asigna el color de acento del modo claro.

// Modo oscuro
$modo-oscuro-fondo: map-get($modo-oscuro, fondo); // Asigna el color de fondo del modo oscuro.
$modo-oscuro-fondo-secundario: map-get($modo-oscuro, fondo-secundario);
$modo-oscuro-texto-negro: map-get($modo-oscuro, texto-negro); 

$modo-oscuro-texto-blanco: map-get($modo-oscuro, texto-blanco); // Asigna el color de texto blanco del modo oscuro.
$modo-oscuro-acento: map-get($modo-oscuro, acento); 

$fuente-principal: 'system-ui, -apple-system, BlinkMacSystemFont, ' Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, ' Open Sans', ' Helvetica Neue', sans-serifs'; 
