<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica</title>
</head>
<body>
    <form th:action="@{/inicio}" method="post">
        <span th:text="${error}"></span>
        <label for="nombre"> Nombre: 
            <input type="text" name="nombre" id="nombre">
        </label>
        <button type="submit">Siguiente</button>
    </form>
    
</body>
</html>