body{
    background-color: rgb(22, 19, 19);
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
#lateral{
    height: 1150px;
    width: 34%;
    background-color: rgb(49, 49, 49);
    float: left;
    border-radius: 5px;
    text-align: center;

    #cajaLogo{
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        #logo{
            background-image: url(logo.png);
            height: 100px;
            width: 100px;
            background-repeat: no-repeat;  /* No repetir la imagen */
            background-size: cover;       /* La imagen cubre toda el área de la caja */
            background-position: center;  /* Centra la imagen en la caja */
        }
        h4{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: white;
        }
    
    }  
    #cajaUsuario{
        height: 300px;
        justify-content: center;
        align-items: center;
        color: white;
        #imagenUsuario{
            margin: auto;
            border: solid 3px rgb(117, 247, 247);;
            border-radius: 50px;
            background-image: url(perfil.png);
            height: 100px;
            width: 100px;
            background-repeat: no-repeat;  /* No repetir la imagen */
            background-size: cover;       /* La imagen cubre toda el área de la caja */
            background-position: center;  /* Centra la imagen en la caja */
        }
        #infoUsuario{
            display: flex;
            flex-direction: row;
            height: 60px;
            #publicaciones, #seguidores, #seguidos{
                color: white;
                width: 33%;
            }
        }
    }

    #cajaAccesos{
        button{
            height: 40px;
            width: 80%;
            border-radius: 15px;
            background-color: rgb(117, 247, 247);
        }
    }

}


#principal{
    height: 1150px;
    width: 64%;
    background-color: rgb(49, 49, 49);
    float: right;
    border-radius: 5px;
    
    header{
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        input{
            height: 30px;
            width: 60%;
            border-radius: 15px;
            background-color: rgb(22, 19, 19);
            padding: 0.2em;
            color: white;
        }
        button{
            height: 40px;
            width: 30%;
            border-radius: 15px;
            background-color: rgb(117, 247, 247);
        }
    }

    #publicaciones{
        height: 950px;
        display: grid;/*le damos la propiedad grid*/
        grid-template-rows: 33% 33% 33%;
        grid-template-columns: 33% 33% 33%;
        .publicacion{
            margin: auto;
            width: 90%;
            height: 300px;
            border-radius: 5px;
            text-align: center;
            
        }
        .imagenes{
            margin: auto;
            background-repeat: no-repeat;  /* No repetir la imagen */
            background-size: cover;       /* La imagen cubre toda el área de la caja */
            background-position: center;  /* Centra la imagen en la caja */
            border-radius: 5px;
            width: 90%;
            height: 250px;
        }
        #imagen1{
            background-image: url(img/1.jpeg);
        }
        #imagen2{
            background-image: url(img/2.jpeg);
        }
        #imagen3{
            background-image: url(img/3.jpeg);
        }
        #imagen4{
            background-image: url(img/4.jpg);
        }
        #imagen5{
            background-image: url(img/5.jpg);
        }
        #imagen6{
            background-image: url(img/6.jpg);
        }
        #imagen7{
            background-image: url(img/7.jpg);
        }
        #imagen8{
            background-image: url(img/8.png);
        }
        #imagen9{
            background-image: url(img/9.jpeg);
        }
        
    }

}

#footer{
    width: 99%;
    height: 280px;
    float: right;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    text-align: center;
    color: white;

    #logoF{
        grid-row: 1/2;
        grid-column: 1/2;
        height: 150px;
        width: 150px;
        margin: auto;
        background-image: url(logo.png);
        background-repeat: no-repeat;  /* No repetir la imagen */
        background-size: cover;       /* La imagen cubre toda el área de la caja */
        background-position: center;  /* Centra la imagen en la caja */
    }
    #legal{
        grid-row: 1/2;
        grid-column: 2/3;
    }
    #copyright{
        grid-row: 2/3;
        grid-column: 1/3;
    }
}


