body, div, button, input, label{
    margin: 0.2em;
    padding: 0.2em;

}
label{
    background-color: darkgreen;
    color: white;
}

input{
    background-color: rgb(77, 216, 22);
    color: white;
}
