<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pregunta 4</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <div class="form-container">
        <h1>Pregunta 4: ¿Quién es el actual campeón de peso pluma?</h1>
        <form action="/pregunta5" method="post">
            <input type="radio" id="q4a" name="q4" value="a" required>
            <label for="q4a">Ilia Topuria</label><br>
            <input type="radio" id="q4b" name="q4" value="b">
            <label for="q4b">Alexander Volkanosky</label><br>
            <input type="radio" id="q4c" name="q4" value="c">
            <label for="q4c">Max Holloway</label><br>
            <button type="submit">Siguiente</button>
        </form>
    </div>
</body>
</html>
