body{
    
    border: 2px solid;
    margin: 0.2em;
    padding: 0.2em;

}
div{
    
    margin: 0.2em;
    padding: 0.2em;
}
#titulo, #resultado{
    margin: auto;
    text-align: center;
    border: 3px solid;
    
}
#flechas{
    
    padding: 0.5em;
    text-align: center;
    border-bottom: solid 10px red;
    border-top: solid 10px red;
    
}
#menu{
    text-align: center;
}
#resultado{
    height: 50px;
    width: 700px;
}






