<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pregunta 3</title>
    <link rel="stylesheet" th:href="@{css/index.css}">

</head>
<body>
    <h1>Pregunta 3: ¿En qué año Khabib Nurmagomedov se retiró de la UFC?</h1>
    <form action="/result" method="post">
        <input type="radio" id="q3a" name="q3" value="a" required> <label for="q3a">2019</label><br>
        <input type="radio" id="q3b" name="q3" value="b"> <label for="q3b">2020</label><br>
        <input type="radio" id="q3c" name="q3" value="c"> <label for="q3c">2021</label><br>
        <button type="submit">Ver resultado</button>
    </form>
</body>
</html>
