@media only screen and (min-width:800px){
	
    html{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    *,*::before,*::after{
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        box-sizing: inherit;
    }
    
    *{
        margin: 0.3em;
        padding: 0.3em;
    }

    #cabecera{
        position: sticky;
        top: 0;
        height: 60px;
        width: 100%;
        background-color: rgb(95, 95, 221);
        color: white;
        font-size: large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        border: 3px solid #000;
        margin-bottom: 0.5em;
        
    }

    #contenedor{
        width: 100%;
        height: auto;
        display: grid;
        flex-direction: row;
        grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
        grid-template-columns: 100%;
        justify-items: center;    
    }

    div{
        border: 1px solid #000;
        width: 820px;
        height: 820px;
        background-image: url(image.png);
        background-repeat: no-repeat;
        background-position: center;
        

    }
    img{
        width: 120px;
        height: 120px;
    }

    p{
        background-color: purple;
        color: white;
        width: 26px;
        margin-left: 0.3em;
        text-align: center;
    }


}