@media only screen and (max-width:800px){

    html{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    *,*::before,*::after{
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        box-sizing: inherit;
    }

    #cabecera{
        position: sticky;
        height: 60px;
        width: 100%;
        background-color: rgb(95, 95, 221);
        color: white;
        font-size: large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        border: 3px solid #000;
        margin-bottom: 0.5em;
        
    }

    #contenedor{
        width: 100%;
        height: auto;
        display: grid;
        flex-direction: row;
        grid-template-rows: 33% 33% 33%;
        grid-template-columns: 33% 33% 33%;
        justify-items: center;
    }

    div{
        border: 1px solid #000;
        width: 100px;
        height: 100px;
        background-image: url(image.png);
        background-repeat: no-repeat;
        background-position: center;

    }
    img{
        width: 120px;
        height: 120px;
    }

    #caja10{
        border: none;
        background-image: none;
        color: transparent;
    }
    #textoCaja10{
        color: transparent;
        background-color: transparent;
    }

    p{
        background-color: purple;
        color: white;
        width: 16px;
        margin-left: 0.3em;
        text-align: center;
    }


}